.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1080px;
  margin: 0 auto;
}

.list-heroes-wrapper {
  width: 60%;
  grid-row: span 2;
}

.hero, .hero-header {
  display: grid;
  grid-template-columns: repeat(4, 100px)
}

.form-wrapper {
  .field {
    display: flex;
    margin-bottom: 0.5rem;
  }
  label {
    width: 70px;
  }
}
